<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>488873419261-kkr7iutospo8k5ljh45q09e1i27u54u7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.488873419261-kkr7iutospo8k5ljh45q09e1i27u54u7</string>
	<key>API_KEY</key>
	<string>AIzaSyCa77FAt1CCddycwcxkFbkrDDHQHqSkY1E</string>
	<key>GCM_SENDER_ID</key>
	<string>488873419261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.krownunity.krown</string>
	<key>PROJECT_ID</key>
	<string>krown-dating</string>
	<key>STORAGE_BUCKET</key>
	<string>krown-dating.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488873419261:ios:63728f33656149aa</string>
	<key>DATABASE_URL</key>
	<string>https://krown-dating.firebaseio.com</string>
</dict>
</plist>